

<script src="/axios/dist/axios.min.js"></script>
<script src="/jquery/dist/jquery.js" charset="utf-8"></script>
<script src="/bootstrap/dist/js/bootstrap.bundle.min.js" charset="utf-8"></script>
<script src="/js/main.js" charset="utf-8"></script>
  </body>
</html>
